-#- if user_signed_in?
  -#= link_to 'sign_out', destroy_user_session_path, :method => 'delete'

  -#%h2
  -#  hello user #{current_user.email}
  -#%pre
    -#= current_user.to_yaml
-#- else
-#  not signed in
-#  %p= link_to 'sign_in', new_user_session_path
-#  %p= link_to 'sign_up', new_user_registration_path


-#.hero-unit
-#  %h1
-#    - if current_user
-#      Hello, #{current_user.full_name}!
-#  %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
-#  %p
-#    %a.btn.primary.large Learn more »
-#
-#  = form_for 'search', :url => searches_path, :method => "get" do |f|
-#    = f.text_field :value
-#    %button.btn.success Go




