-#%h1 Listing searches
-#
-#%table
-#  %tr
-#    %th Title
-#    %th Url
-#    %th Desc
-#    %th Fav
-#
-#
-#  - @searches.each do |search|
-#    %tr
-#      %td= search.title
-#      %td= search.url
-#      %td= search.description
-#      %td
-#        - if !is_favorited?(search.id)
-#          = form_for @favorit, :url => user_favorits_path(current_user), :method => 'post', :remote => true do |f|
-#            = f.hidden_field :user_id, :value => current_user.id
-#            = f.hidden_field :link_id, :value => search.id
-#            = link_to("#") do
-#              = image_tag 'favorite-icon.png', :class => 'toggle_fav is_favorited'
-#        - else
-#          = link_to 'Destroy', Favorit.where(:user_id => current_user, :link_id => search.id).first, :confirm => 'Are you sure?', :method => :delete
-#          -#= image_tag 'favorite-icon.png', :class => 'toggle_fav is_favorited'
-#
-#%br
-#
-#-#= link_to 'New Search', new_search_path
