// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#search_value{

    width: 80%;
    background: url('/assets/search-icon.png') no-repeat right 3px;
}

.hero-unit{
    form{
        padding: 30px 0 0 0;
    }
}


