// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.details-pane textarea{
    width: 300px;
    height: 100px;
}

.details-pane .stream-item{
    border: none;
}

.comments_place{
    color: gray;
    font-size: 11px;
}

.comment{
    padding-top: 10px;
    border-bottom: 1px dotted #EBEBEB;
}

span.date{
    font-style: italic;
    font-size:10px;
}